<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Callouts</title>
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/normalize.css" />
  </head>
  <body>
    <div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to Get started?</h2>
          <p>
            Choose the hosting provider that helps you start easy, build fast,
            and grow strong! It is risk-free with our 30-day trial.
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
      </div>
    </div>
  </body>
</html>
