<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Features</title>
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/normalize.css" />
  </head>
  <body>
    <section class="block container">
      <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
          tempore?
        </p>
      </header>
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="../Images/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Super easy to use</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero,
            dignissimos!
          </p>
          <a href="#" class="link-arrow">Learn more</a>
        </div>
        <picture>
          <source
            type="Images/webp"
            srcset="Images/easy.wbp 1x, Images/easy@2x.webp 2x"
          />
          <source
            type="Images/jpg"
            srcset="Images/easy.jpg 1x, Images/easy@2x.jpg 2x"
          />
          <img class="feature__image" src="../Images/easy@2x.jpg" alt="" />
        </picture>
      </article>
    </section>
    <section class="block container">
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="../Images/sprite.svg#computer"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Simply Fast Websites</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero,
            dignissimos!
          </p>
          <a href="#" class="link-arrow">Learn more</a>
        </div>
        <picture>
          <source
            type="Images/webp"
            srcset="Images/fast.wbp 1x, Images/fast@2x.webp 2x"
          />
          <source
            type="Images/jpg"
            srcset="Images/fast.jpg 1x, Images/fast@2x.jpg 2x"
          />
          <img class="feature__image" src="../Images/fast@2x.jpg" alt="" />
        </picture>
      </article>
    </section>
    <section class="block container">
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="../Images/sprite.svg#wordpress"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Wordpress Made Easy</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero,
            dignissimos!
          </p>
          <a href="#" class="link-arrow">Learn more</a>
        </div>
        <picture>
          <source
            type="Images/webp"
            srcset="Images/wordpress.wbp 1x, Images/wordpress@2x.webp 2x"
          />
          <source
            type="Images/jpg"
            srcset="Images/wordpress.jpg 1x, Images/wordpress@2x.jpg 2x"
          />
          <img class="feature__image" src="../Images/wordpress@2x.jpg" alt="" />
        </picture>
      </article>
    </section>
    <section class="block container">
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="../Images/sprite.svg#clock"></use>
            </svg>
          </span>
          <h3 class="feature__heading">24/7 Expert Support</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero,
            dignissimos!
          </p>
          <a href="#" class="link-arrow">Learn more</a>
        </div>
        <picture>
          <source
            type="Images/webp"
            srcset="Images/support.wbp 1x, Images/support@2x.webp 2x"
          />
          <source
            type="Images/jpg"
            srcset="Images/support.jpg 1x, Images/support@2x.jpg 2x"
          />
          <img class="feature__image" src="../Images/support@2x.jpg" alt="" />
        </picture>
      </article>
    </section>
    <script src="../js/main.js"></script>
  </body>
</html>
